<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GeoHelp{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">GeoHelp</h2>
        </div>
        <div class="menu">
            <ul>
                <li><a href="{{ url_for('home') }}">HOME</a></li>
                <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                <li><a href="{{ url_for('ghelp') }}">GHELP</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">LOGIN</a></li>
                    <li><a href="{{ url_for('register') }}">REGISTER</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
